<div *ngIf="this.characterData" class="container-fluid w-full py-3">
    <!-- CHARACTER NAME -->
    <div id="overview-content">
        <h2 class="tracking-wide">
            {{this.characterData?.name}}
        </h2>
        <h6 *ngIf="this.characterData.nicknames.length || this.characterData.name_kanji"
            class="tracking-wider text-[#bebebe]">
            <ng-container *ngIf="this.characterData.nicknames.length;else name_kanji;">
                Aka: <span class="text-[#bebebe] tracking-wider"
                    *ngFor="let name of this.characterData.nicknames;let i = index;">
                    {{name}}{{(i!=this.characterData.nicknames.length-1) ? ',' : ''}}
                </span>
            </ng-container>
            <ng-template #name_kanji>
                {{this.characterData.name_kanji}}
            </ng-template>
        </h6>

        <nav class="mt-4 rounded-sm">
            <ul class="flex gap-3 flex-wrap py-2 p-3">
                <li 
                    (click)="this.selectedTab=this.tabs.OVERVIEW"
                    [ngClass]="{'active-tab': this.tabs.OVERVIEW===this.selectedTab}" 
                    class="tracking-wider text-[.9rem] cursor-pointer"
                >
                    OVERVIEW
                </li>
                <li 
                    *ngIf="this.characterData?.manga?.length"
                    (click)="this.selectedTab=this.tabs.MANGA_ROLES"
                    [ngClass]="{'active-tab': this.tabs.MANGA_ROLES===this.selectedTab}" 
                    class="tracking-wider text-[.9rem] cursor-pointer"
                >
                    MANGA ROLES
                </li>
                <li 
                    *ngIf="this.characterData?.voices?.length"
                    (click)="this.selectedTab=this.tabs.VOICE_ACTORS"
                    [ngClass]="{'active-tab': this.tabs.VOICE_ACTORS===this.selectedTab}" 
                    class="tracking-wider text-[.9rem] cursor-pointer"
                >
                    VOICE ACTORS
                </li>
            </ul>
        </nav>
        <app-character-overview 
            (onOpenScreenshotModal)="this.isScreenshotModalOpen=$event;"
            [characterData]="this.characterData" 
            [characterPicturesLength]="this.characterPictures.length"
            *ngIf="this.selectedTab===this.tabs.OVERVIEW && this.characterData"
        >
        </app-character-overview>

        <app-characters-voice-actors
            [characterImage]="this.characterData.images"
            [characterName]="this.characterData.name"
            [voices]="this.characterData.voices"
            *ngIf="this.selectedTab===this.tabs.VOICE_ACTORS && this.characterData.voices.length"
        >
        </app-characters-voice-actors>

        <app-manga-roles
            [characterImage]="this.characterData.images"
            [characterName]="this.characterData.name"
            [mangaRoles]="this.characterData.manga"
            *ngIf="this.selectedTab===this.tabs.MANGA_ROLES && this.characterData.manga.length"
        >
        </app-manga-roles>
        
    </div>
</div>

<app-image-viewer 
    *ngIf="this.isScreenshotModalOpen && this.selectedTab === this.tabs.OVERVIEW"  
    [images]="this.characterPictures"
    [imageNumber]="this.imageNumber"
    (onCloseImageViewer)="this.isScreenshotModalOpen=!$event;"
    (onImageChange)="$event === 'prev' ? this.showPrevImage() : this.showNextImage();"
>
</app-image-viewer>

<app-loader *ngIf="this.loading"></app-loader>