<footer class="px-3">
    <hr />
    <div class="flex justify-center items-center jikan-credits-div">
        <img #jikanImg class="h-max cursor-pointer" width="90" src="../../assets/jikan_logo.png" />
        <div>
            <p class="tracking-wide mb-0 text-[#bebebe] text-[10px] md:text-[12px]">
                The content displayed on this website, including anime details, images, and related data, is sourced
                from the <a style="text-decoration: none;" class="italic" href="https://jikan.moe/" target="_blank"
                    rel="noopener noreferrer">Jikan API</a>.
            </p>
            <p class="tracking-wide mb-0 text-[#bebebe] text-[10px] md:text-[12px]">
                We greatly appreciate the efforts of the Jikan API team for providing such a comprehensive and
                accessible resource for anime enthusiasts.
            </p>
        </div>
    </div>

    <p class="copy-right-para text-center text-[#bebebe] pb-2 mb-0 text-[10px] md:text-[12px]">&copy;{{this.currentYear || '2024'}} Anime Stop All Rights Reserved</p>
</footer>