<div *ngIf="this.anime" class="container-fluid w-full py-3">
    <div id="overview-content">
        <!-- ANIME TITLES -->
        <h2 class="font-oswald tracking-wide">
            {{anime.title_english || anime.title}}
        </h2>
        <h6 class="font-oswald tracking-wider text-[#bebebe]">
            {{anime.title || anime.title_japanese}}
        </h6>

        <!-- TABS -->
        <nav class="mt-4 rounded-sm">
            <ul class="flex gap-3 flex-wrap py-2 p-3">
                <li 
                    (click)="this.selectedTab=this.tabs.OVERVIEW"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.OVERVIEW}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    OVERVIEW
                </li>
                <li 
                    *ngIf="this.animeCharacters.length > 0"
                    (click)="this.selectedTab=this.tabs.CHARACTERS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.CHARACTERS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    CHARACTERS
                </li>
                <li 
                    *ngIf="this.animeReviews.data.length > 0"
                    (click)="this.selectedTab=this.tabs.REVIEWS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.REVIEWS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    REVIEWS
                </li>
                <li 
                    (click)="this.selectedTab=this.tabs.RECOMMENDATIONS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.RECOMMENDATIONS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    RECOMMENDATIONS
                </li>
            </ul>
        </nav>
        <!-- ANIME-OVERVIEW-CONTENT -->
        <app-anime-overview 
            (tabChange)="this.selectedTab=$event"
            [animeCharacters]="this.animeCharacters.slice(0, 8)"
            [animeRecommendations]="this.animeRecommendations"
            [animeStreamingData]="this.animeStreamingData" 
            [animePictures]="this.animePictures" 
            [anime]="this.anime"
            *ngIf="this.selectedTab===this.tabs.OVERVIEW"
        >
        </app-anime-overview>

        <!-- ALL ANIME-CHARACTERS -->
        <app-anime-characters 
            [animeCharacters]="this.animeCharacters"
            [animeImages]="this.anime.images"
            *ngIf="this.animeCharacters.length > 0 && this.selectedTab===this.tabs.CHARACTERS"
        >
        </app-anime-characters>

        <!-- ALL ANIME REVIEWS -->
        <app-anime-reviews
            [animeImages]="this.anime.images"
            [animeReviews]="this.animeReviews"
            [animeId]="this.animeId"
            *ngIf="this.animeReviews.data.length > 0 && this.selectedTab===this.tabs.REVIEWS"
        >   
        </app-anime-reviews>
    </div>
</div>