<div *ngIf="this.anime" class="container-fluid w-full py-3">
    <div id="overview-content">
        <!-- ANIME TITLES -->
        <h2 class="font-oswald tracking-wide">
            {{anime.title_english || anime.title}}
        </h2>
        <h6 class="font-oswald tracking-wider text-[#bebebe]">
            {{anime.title || anime.title_japanese}}
        </h6>

        <!-- TABS -->
        <nav class="mt-4 rounded-sm">
            <ul class="flex gap-3 flex-wrap py-2 p-3">
                <li 
                    (click)="this.selectedTab=this.tabs.OVERVIEW"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.OVERVIEW}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    OVERVIEW
                </li>
                <li 
                    *ngIf="this.animeCharacters.length > 0"
                    (click)="this.selectedTab=this.tabs.CHARACTERS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.CHARACTERS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    CHARACTERS
                </li>
                <li 
                    *ngIf="this.animeReviews.data.length > 0"
                    (click)="this.selectedTab=this.tabs.REVIEWS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.REVIEWS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    REVIEWS
                </li>
                <li 
                    *ngIf="this.animeStaff.length > 0"
                    (click)="this.selectedTab=this.tabs.STAFF"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.STAFF}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    STAFF
                </li>
                <li 
                    *ngIf="this.animeRecommendations.length > 0"
                    (click)="this.selectedTab=this.tabs.RECOMMENDATIONS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.RECOMMENDATIONS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    RECOMMENDATIONS
                </li>
            </ul>
        </nav>
        <!-- ANIME-OVERVIEW-CONTENT -->
        <app-anime-overview 
            (tabChange)="this.selectedTab=$event"
            [animeCharacters]="this.animeCharacters.slice(0, 8)"
            [animeRecommendations]="this.animeRecommendations"
            [animeStreamingData]="this.animeStreamingData" 
            [animePictures]="this.animePictures" 
            [anime]="this.anime"
            *ngIf="this.selectedTab===this.tabs.OVERVIEW"
        >
        </app-anime-overview>

        <!-- ALL ANIME-CHARACTERS -->
        <app-characters 
            [characters]="this.animeCharacters"
            [images]="this.anime.images"
            *ngIf="this.animeCharacters.length > 0 && this.selectedTab===this.tabs.CHARACTERS"
        >
        </app-characters>

        <!-- ALL ANIME REVIEWS -->
        <app-reviews
            [type]="'anime'"
            [images]="this.anime.images"
            [reviews]="this.animeReviews"
            [id]="this.animeId"
            *ngIf="this.animeReviews.data.length > 0 && this.selectedTab===this.tabs.REVIEWS"
        >   
        </app-reviews>

        <app-anime-staff
            [staff]="this.animeStaff"
            [images]="this.anime.images"
            *ngIf="this.animeStaff.length > 0 && this.selectedTab===this.tabs.STAFF"
        ></app-anime-staff>

        <app-recommendations
            [type]="'anime'"
            (onTotalRecommendationsChange)="this.totalRecommendations = this.totalRecommendations + 12;"
            [totalRecommendations]="this.totalRecommendations"
            [title]="this.anime.title_english || this.anime.title || this.anime.title_japanese"
            [recommendations]="this.animeRecommendations"
            [images]="this.anime.images"
            *ngIf="this.animeRecommendations.length > 0 && this.selectedTab === this.tabs.RECOMMENDATIONS"
        >
        </app-recommendations>
    </div>
</div>

<app-loader *ngIf="this.loading"></app-loader>