<div *ngIf="this.manga" class="container-fluid w-full py-3">
    <div id="overview-content">
        <!-- MANGA TITLES -->
        <h2 class="font-oswald tracking-wide">
            {{this.manga.title_english || this.manga.title}}
        </h2>
        <h6 class="font-oswald tracking-wider text-[#bebebe]">
            {{this.manga.title || this.manga.title_japanese}}
        </h6>

        <!-- TABS -->
        <nav class="mt-4 rounded-sm">
            <ul class="flex gap-3 flex-wrap py-2 p-3">
                <li 
                    (click)="this.selectedTab=this.tabs.OVERVIEW"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.OVERVIEW}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    OVERVIEW
                </li>
                <li 
                    *ngIf="this.mangaCharacters.length > 0"
                    (click)="this.selectedTab=this.tabs.CHARACTERS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.CHARACTERS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    CHARACTERS
                </li>
                <li 
                    *ngIf="this.mangaReviews.data.length > 0"
                    (click)="this.selectedTab=this.tabs.REVIEWS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.REVIEWS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    REVIEWS
                </li>
                <li 
                    *ngIf="this.mangaRecommendations.length > 0"
                    (click)="this.selectedTab=this.tabs.RECOMMENDATIONS"
                    [ngClass]="{'active-tab': this.selectedTab === this.tabs.RECOMMENDATIONS}"
                    class="tracking-wider text-[.9rem] cursor-pointer">
                    RECOMMENDATIONS
                </li>
            </ul>
        </nav>
        <!-- MANGA-OVERVIEW-CONTENT -->
        <app-manga-overview 
            (tabChange)="this.selectedTab=$event"
            [mangaCharacters]="this.mangaCharacters.slice(0, 8)"
            [mangaPictures]="this.mangaPictures" 
            [manga]="this.manga"
            [mangaRecommendations]="this.mangaRecommendations"
            *ngIf="this.selectedTab===this.tabs.OVERVIEW"
        >
        </app-manga-overview>

        <!-- ALL MANGA-CHARACTERS -->
        <app-characters 
            [characters]="this.mangaCharacters"
            [images]="this.manga.images"
            *ngIf="this.mangaCharacters.length > 0 && this.selectedTab===this.tabs.CHARACTERS"
        >
        </app-characters>

        <!-- ALL MANGA REVIEWS -->
        <app-reviews
            [type]="'manga'"
            [images]="this.manga.images"
            [reviews]="this.mangaReviews"
            [id]="this.mangaId"
            *ngIf="this.mangaReviews.data.length > 0 && this.selectedTab===this.tabs.REVIEWS"
        >   
        </app-reviews>

        <app-recommendations
            [type]="'manga'"
            (onTotalRecommendationsChange)="this.totalRecommendations = this.totalRecommendations + 12;"
            [totalRecommendations]="this.totalRecommendations"
            [title]="this.manga.title_english || this.manga.title || this.manga.title_japanese"
            [recommendations]="this.mangaRecommendations"
            [images]="this.manga.images"
            *ngIf="this.mangaRecommendations.length > 0 && this.selectedTab === this.tabs.RECOMMENDATIONS"
        >
        </app-recommendations>
    </div>
</div>

<app-loader *ngIf="this.loading"></app-loader>