* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

.font-mulish {
    font-family: "Mulish", sans-serif;
}

@media screen and (min-width: 768px) {
    .content-container {
        width: 100%;
        max-width: 1250px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}