* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

.font-mulish {
    font-family: "Mulish", sans-serif;
}

p b {
    font-family: "Mulish", sans-serif;
    letter-spacing: .025rem;
}

.anime-role-row:first-child,
.anime-role-row:nth-child(2),
.anime-role-row:nth-child(3) {
    border-top: 1px solid #bebeeb;
}

.anime-role-row {
    border-bottom: 1px solid #bebeeb;
}

.anime-role-row .anime-img {
    opacity: .9;
    transition: opacity .1s linear;
}


.anime-role-row:hover .anime-img {
    opacity: 1 !important;
}

@media screen and (min-width: 1024px) {
    .anime-role-row:nth-child(6n + 3),
    .anime-role-row:nth-child(6n + 2),
    .anime-role-row:nth-child(6n + 1) {
        background-color: #202020 !important;
    }
    
    .anime-role-row :not(:nth-child(6n)):not(:nth-child(6n + 1)):not(:nth-child(6n + 3)) {
        background-color: transparent !important;
    }
}


@media screen and (max-width: 1024px) {

    .anime-role-row:nth-child(4n + 2),
    .anime-role-row:nth-child(4n + 1) {
        background-color: #202020 !important;
    }

    .anime-role-row:nth-child(3) {
        border-top: 0;
    }

    .anime-role-row :not(:nth-child(4n)):not(:nth-child(4n + 1)) {
        background-color: transparent !important;
    }
}

@media screen and (max-width: 768px) {
    .anime-role-row:nth-child(even) {
        background-color: transparent !important;
    }

    .anime-role-row:nth-child(even):hover {
        background-color: #202020 !important;
    }

    .anime-role-row:nth-child(odd) {
        background-color: #202020 !important;
    }

    .anime-role-row:nth-child(2),
    .anime-role-row:nth-child(3) {
        border-top: 0;
    }
}