<div class="w-full py-2">
    <div id="anime-content" class="w-full flex flex-col justify-between items-center md:flex-row md:items-start">
        <div class="w-full md:w-[75%]">
            <app-anime-section [animeData]="this.animeData" [isError]="this.isError"></app-anime-section>
        </div>
        <aside class="w-full ml-[1rem] rounded-tl-2xl overflow-hidden md:w-[25%]">
            <app-anime-aside [animeAsideData]="this.animeAsideData" [isErrorAside]="this.isErrorAside"></app-anime-aside>
        </aside>
    </div>
</div>

<app-loader *ngIf="this.loading"></app-loader>