aside {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 9, 20, .5)), to(rgba(220, 9, 20, 0)));
    background: linear-gradient(180deg, rgba(220, 9, 20, .5), rgba(220, 9, 20, 0));
}

@media screen and (max-width: 768px) {
    #anime-content {
        gap: 1.5rem!important;
    }
}